<td class="col-{{ size }} {{ class_attr }}" {{ extra_attr }} title="{{ title }}">
    {% if url_name %}
    <a href="{% url url_name id %}{% if position %}#{{ position }}{% endif %}" class="clickable-cell">
    {% if wrapper %}<{{ wrapper }}>{% endif %}{{ text|default:'&nbsp;' }} {{ emoji }}{% if wrapper %}</{{ wrapper }}>{% endif %}
    </a>
    {% elif url %}
    <a href="{{ url }}" class="clickable-cell">
    {% if wrapper %}<{{ wrapper }}>{% endif %}{{ text|default:'&nbsp;' }} {{ emoji }}{% if wrapper %}</{{ wrapper }}>{% endif %}
    </a>
    {% else %}
    {% if wrapper %}<{{ wrapper }}>{% endif %}{{ text|default:'&nbsp;' }} {{ emoji }}{% if wrapper %}</{{ wrapper }}>{% endif %}
    {% endif %}
</td>
