{% load cache %}
{% load styles %}
{% load getattribute %}
{% load strutils %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <thead>
      <tr >
        <th></th>
        <th>ID</th>
        <th>Tree</th>
        <th>Branch</th>
        <th>Package Name</th>
        <th>Arch</th>
        <th>Start Time</th>
        <th>Valid</th>
        <th>Tests</th>
      </tr>
    </thead>
    <tbody>
      {% for build in builds %}
        {% cache DEFAULT_CACHE_TTL_S table_kcidb_builds_row build.iid %}
        {% with url_name='views.kcidb.builds' id=build.iid %}
          <tr>
            <td>
              {% if build.has_objects_with_issues %}
              <i class="fas fa-bug text-danger" title="Has issues associated"></i>
              {% endif %}
              {% if checkout.has_objects_missing_triage %}
              <i class="fas fa-fire-extinguisher text-danger" title="Has failures without issues associated"></i>
              {% endif %}
            </td>

            {% include 'tables/cell_clickable.html' with text=build.id|truncatechars:41 title=build.id %}
            {% include 'tables/cell_clickable.html' with text=build.checkout.tree.name %}
            {% include 'tables/cell_clickable.html' with text=build.checkout.git_repository_branch %}
            {% include 'tables/cell_clickable.html' with text=build.package_name %}
            {% include 'tables/cell_clickable.html' with text=build.get_architecture_display %}
            {% include 'tables/cell_clickable.html' with text=build.start_time %}

            <!-- Build Valid cell -->
            {% with emoji=build.valid|get_style|getattribute:'icon'|safe %}
              {% with class_attr=build.valid|get_style|getattribute:'cell_with_text_color' extra_attr='align="center" data-toggle="tooltip" data-placement="top"' %}
                {% with title=build.valid|yesno:"Checkout is Valid, Checkout is Not Valid" %}
                  {% include 'tables/cell_clickable.html' %}
                {% endwith %}
              {% endwith %}
            {% endwith %}

            <!-- Tests cell -->
            {% if not build.stats_tests_run_count %}
              {% include 'tables/cell_clickable.html' %}
            {% else %}
              {% with title='Pass '|addstr:build.stats_tests_pass_count|addstr:', Fail '|addstr:build.stats_tests_fail_count %}
                <td class="col-1 {{ build.stats_tests_passed|get_style|getattribute:'cell_with_text_color' }}" align="center" title="{{ title }}">
                  <a href="{% url url_name id %}" class="clickable-cell">
                    {% if build.stats_tests_passed %}
                      {{ build.stats_tests_pass_count }}
                    {% else %}
                      {{ build.stats_tests_fail_count }}
                    {% endif %}
                    {{ build.stats_tests_passed|get_style|getattribute:'icon'|safe }}
                    {% if build.stats_tests_errors %}
                      <i class="fas fa-fire-alt text-danger" title="Has tests with errors"></i>
                    {% endif %}
                  </a>
                </td>
              {% endwith %}
            {% endif %}
          </tr>
        {% endwith %}
        {% endcache %}
      {% endfor %}
    </tbody>
  </table>
</div>
