{% extends "base.html" %}

{% block title %}
404 Not Found
{% endblock %}

{% block content %}
<div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead mb-5">Page Not Found</p>
    <p class="mb-0">Either the page doesn't exist or you are not authorized to access it.</p>
    {% if not user.is_authenticated %}
    <br>
    <p>Please, try to 
      <a href="{% url 'login' %}?next={{ request.get_full_path }}" class="btn btn-primary">Login</a> 
      to see whether that helps.
    </p>
    {% endif %}
    <a href="/">&larr; Back to Dashboard</a>
</div>
{% endblock %}
