{% load static %}

<!-- FontAwesome icons -->
<link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      rel="stylesheet"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

<!-- Custom styles for the datawarehouse -->
<link href="{% static 'css/custom.css' %}" rel="stylesheet">

<!-- EMOJIS \o/ -->
<link href="{% static 'css/emoji.css' %}" rel="stylesheet">
